<!DOCTYPE html>
<html>
<head>
  <title>Ids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<<<<<<< HEAD
<p class='notice><$= notice %></p>
<p class='alert'><%= alert %></p>
=======

>>>>>>> 28a407c6ea23d380a1bdb8e7accf1a2949f8cc77
=======

>>>>>>> 28a407c6ea23d380a1bdb8e7accf1a2949f8cc77
<%= yield %>

</body>
</html>
